{% extends "base.html" %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
  <h1>Members</h1>
  <br />
  {% if members %}
    <table class="table">
    <thead>
        <th scope="col">Email</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Is Active</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
          <th scope="row">{{ member }}</th>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.is_active }}</td>
            <td>
              <a href="{% url 'view_member' member.id %}" class="btn btn-secondary">View</a>
              <a href="{% url 'update_member' member.id %}" class="btn btn-warning">Update</a>
            </td>
          </tr>
          {% endfor %}
    </tbody>
    </table>
  {% endif %}
  <br /><br />
</div>
{% endblock %}