{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Homepage</h1>
<div class="container px-4">
  <div class="row gx-5">
      <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/teens.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div> <!-- end of col -->
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/teens.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div> <!-- end of col -->
  </div>
</div>

{% endblock %}
