{% extends "base.html" %}

{% block content %}
    <center>
        {% if searched %}
        <h1>You searched for {{ searched }}</h1>
            {% if events %}
                <h2>Events</h2>
                {% for event in events %}
                    {{ event }}
                {% endfor %}
            {% endif %}
            {% if locations %}
                <h2>Locations</h2>
                {% for location in locations %}
                    {{ location }}
                {% endfor %}
            {% endif %}
            {% if photos %}
                <h2>Photos</h2>
                {% for photo in photos %}
                    <img src={{ photo.get_display_url }}>
                {% endfor %}
            {% endif %}
        {% else %}
        <h1>Hey! You forgot to search</h1>
        {% endif %}
    </center>
{% endblock %}